font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
  font-style: normal;
}

:root {
  --bg-primary-color: #016B61;
  --bg-secondary-color: #70B2B2;
  --bg-tertiary-color: #9ECFD4;
  --bg-quaternary-color: #E5E9C5;

  --button-primary-bg: #8f0101;
  --button-secondary-bg: #b81515;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --text-weight: 400;
  --menu-weight: 500;
  --title-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
