header{
    background-color: var(--bg-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
}

.logo{
    display: inline-block;
    width: 130px;
    height: auto;
}

nav{
    display: none;
}

.menu-nav{
    margin-top: 50px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
}