header{
    background-color: var(--bg-secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
}

.logo{
    display: inline-block;
    width: 130px;
    height: auto;
}

nav{
    display: none;
}

.list-nav li {
    margin: 16px 0;
}

.list-nav li a{
    color: var(--text-secondary-color);
    text-decoration: none;
}

.menu-nav{
    margin-top: 50px;
}

input[type="checkbox"]:checked ~ nav{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--bg-secondary-color);
}